.root {
  &[data-variant="filled"]:hover,
  :not([data-variant]):hover& {
    background-color: #e3077f;
  }

  &[data-disabled] {
    color: #cfc1f6;
    background-color: #eeeef2;
  }
}

.label {
}

.inner {
}

.test {
}