
:root {
	--mantine-color-eerie-black-0: #30303C;
	--mantine-color-eerie-black-1: #2B2A38;
	--mantine-color-eerie-black-2: #252535;
	--mantine-color-eerie-black-3: #201F32;
	--mantine-color-eerie-black-4: #1B1A2F;
	--mantine-color-eerie-black-5: #17162D;
	--mantine-color-eerie-black-6: #12112C;
	--mantine-color-eerie-black-7: #121225;
	--mantine-color-eerie-black-8: #121220;
	--mantine-color-eerie-black-9: #12111B;
	--mantine-color-eerie-black-10: #111018;
	--mantine-color-eerie-black-11: #100F15;
	--mantine-color-deep-koamaru-0: #636279;
	--mantine-color-deep-koamaru-1: #585770;
	--mantine-color-deep-koamaru-2: #4D4C69;
	--mantine-color-deep-koamaru-3: #434263;
	--mantine-color-deep-koamaru-4: #39385D;
	--mantine-color-deep-koamaru-5: #302F59;
	--mantine-color-deep-koamaru-6: #2F2E4C;
	--mantine-color-deep-koamaru-7: #2D2C42;
	--mantine-color-deep-koamaru-8: #2A2A39;
	--mantine-color-deep-koamaru-9: #272732;
	--mantine-color-deep-koamaru-10: #24242C;
	--mantine-color-majorelle-blue-0: #CDC6E1;
	--mantine-color-majorelle-blue-1: #B5A8D9;
	--mantine-color-majorelle-blue-2: #9C88D6;
	--mantine-color-majorelle-blue-3: #8365D9;
	--mantine-color-majorelle-blue-4: #683DE4;
	--mantine-color-majorelle-blue-5: #5D37CE;
	--mantine-color-majorelle-blue-6: #5A3CAE;
	--mantine-color-majorelle-blue-7: #564192;
	--mantine-color-majorelle-blue-8: #51417C;
	--mantine-color-majorelle-blue-9: #4B406A;
	--mantine-color-mexican-pink-0: #D1A8BE;
	--mantine-color-mexican-pink-1: #CC8BAE;
	--mantine-color-mexican-pink-2: #CC6CA0;
	--mantine-color-mexican-pink-3: #D24994;
	--mantine-color-mexican-pink-4: #E02289;
	--mantine-color-mexican-pink-5: #E3077F;
	--mantine-color-mexican-pink-6: #B91A71;
	--mantine-color-mexican-pink-7: #982664;
	--mantine-color-mexican-pink-8: #7E2C59;
	--mantine-color-mexican-pink-9: #6A2F4F;
	--mantine-color-mexican-pink-10: #5A3047;
	--mantine-color-cetacean-blue-0: #2B344B;
	--mantine-color-cetacean-blue-1: #232D48;
	--mantine-color-cetacean-blue-2: #1C2745;
	--mantine-color-cetacean-blue-3: #152244;
	--mantine-color-cetacean-blue-4: #0D1C43;
	--mantine-color-cetacean-blue-5: #061743;
	--mantine-color-cetacean-blue-6: #0B1737;
	--mantine-color-cetacean-blue-7: #0E172D;
	--mantine-color-cetacean-blue-8: #0F1626;
	--mantine-color-cetacean-blue-9: #101420;
	--mantine-color-persian-pink-0: #D9C0CE;
	--mantine-color-persian-pink-1: #D8B5C8;
	--mantine-color-persian-pink-2: #D9A8C3;
	--mantine-color-persian-pink-3: #DD9ABE;
	--mantine-color-persian-pink-4: #E389BA;
	--mantine-color-persian-pink-5: #ED74B6;
	--mantine-color-persian-pink-6: #DF78B0;
	--mantine-color-persian-pink-7: #D27AAA;
	--mantine-color-persian-pink-8: #C67CA4;
	--mantine-color-persian-pink-9: #BB7D9F;
	--mantine-color-lavender-pink-0: #FDFBFC;
	--mantine-color-lavender-pink-1: #F7F2F5;
	--mantine-color-lavender-pink-2: #F3E8EE;
	--mantine-color-lavender-pink-3: #F1DDE7;
	--mantine-color-lavender-pink-4: #F0D0E1;
	--mantine-color-lavender-pink-5: #F1C1DB;
	--mantine-color-lavender-pink-6: #F6B0D6;
	--mantine-color-lavender-pink-7: #EDADCF;
	--mantine-color-lavender-pink-8: #E3AAC9;
	--mantine-color-lavender-pink-9: #DAA7C3;
	--mantine-color-lavender-pink-10: #D1A5BD;
	--mantine-color-pale-violet-0: #F5F4F9;
	--mantine-color-pale-violet-1: #ECE9F6;
	--mantine-color-pale-violet-2: #E3DDF4;
	--mantine-color-pale-violet-3: #D8CFF4;
	--mantine-color-pale-violet-4: #CDBEF8;
	--mantine-color-pale-violet-5: #C0AAFF;
	--mantine-color-pale-violet-6: #BBA7F5;
	--mantine-color-pale-violet-7: #B7A5EB;
	--mantine-color-pale-violet-8: #B3A3E1;
	--mantine-color-pale-violet-9: #AFA1D8;
	--mantine-color-soap-0: #FEFEFF;
	--mantine-color-soap-1: #F6F5F9;
	--mantine-color-soap-2: #EDEAF6;
	--mantine-color-soap-3: #E4DEF3;
	--mantine-color-soap-4: #DAD1F3;
	--mantine-color-soap-5: #CFC1F6;
	--mantine-color-soap-6: #C9BCEE;
	--mantine-color-soap-7: #C4B7E6;
	--mantine-color-soap-8: #BEB3DD;
	--mantine-color-soap-9: #BAB0D5;
	--mantine-color-soap-10: #B5ACCD;
	--mantine-color-fresh-sky-blue-0: #F4F6FA;
	--mantine-color-fresh-sky-blue-1: #E3E8F3;
	--mantine-color-fresh-sky-blue-2: #D0D9F0;
	--mantine-color-fresh-sky-blue-3: #BBC9F0;
	--mantine-color-fresh-sky-blue-4: #A2B9F5;
	--mantine-color-fresh-sky-blue-5: #84A6FF;
	--mantine-color-fresh-sky-blue-6: #7F9EF1;
	--mantine-color-fresh-sky-blue-7: #7B98E2;
	--mantine-color-fresh-sky-blue-8: #7892D4;
	--mantine-color-fresh-sky-blue-9: #768CC5;
	--mantine-color-medium-aquamarine-0: #EDF4F1;
	--mantine-color-medium-aquamarine-1: #D5E8E1;
	--mantine-color-medium-aquamarine-2: #BCE0D3;
	--mantine-color-medium-aquamarine-3: #A1DCC7;
	--mantine-color-medium-aquamarine-4: #84DDBD;
	--mantine-color-medium-aquamarine-5: #62E5B6;
	--mantine-color-medium-aquamarine-6: #5BD2A7;
	--mantine-color-medium-aquamarine-7: #55C099;
	--mantine-color-medium-aquamarine-8: #51AE8C;
	--mantine-color-medium-aquamarine-9: #53977F;
	--mantine-color-harlequin-green-0: #B7D3B3;
	--mantine-color-harlequin-green-1: #9ECB97;
	--mantine-color-harlequin-green-2: #85C87A;
	--mantine-color-harlequin-green-3: #6ACB5A;
	--mantine-color-harlequin-green-4: #4CD436;
	--mantine-color-harlequin-green-5: #32DB17;
	--mantine-color-harlequin-green-6: #3AB326;
	--mantine-color-harlequin-green-7: #3D952F;
	--mantine-color-harlequin-green-8: #3E7D34;
	--mantine-color-harlequin-green-9: #3C6A35;
	--mantine-color-harlequin-green-10: #3A5A34;
	--mantine-color-crayola-0: #FBFAF7;
	--mantine-color-crayola-1: #F1EEE0;
	--mantine-color-crayola-2: #ECE4C7;
	--mantine-color-crayola-3: #EBDDAB;
	--mantine-color-crayola-4: #F0DA8C;
	--mantine-color-crayola-5: #FCDB67;
	--mantine-color-crayola-6: #EACC60;
	--mantine-color-crayola-7: #D8BC5B;
	--mantine-color-crayola-8: #C6AE58;
	--mantine-color-crayola-9: #B5A055;
	--mantine-color-coral-red-0: #F9F4F4;
	--mantine-color-coral-red-1: #EBD5D5;
	--mantine-color-coral-red-2: #E3B4B4;
	--mantine-color-coral-red-3: #E19191;
	--mantine-color-coral-red-4: #E66A6A;
	--mantine-color-coral-red-5: #F43E3E;
	--mantine-color-coral-red-6: #DD3636;
	--mantine-color-coral-red-7: #C33535;
	--mantine-color-coral-red-8: #A23D3D;
	--mantine-color-coral-red-9: #894040;
	--mantine-color-coral-red-10: #754040;
	--mantine-color-cool-grey-0: #F2F2F3;
	--mantine-color-cool-grey-1: #DBDBDE;
	--mantine-color-cool-grey-2: #C5C5CB;
	--mantine-color-cool-grey-3: #B1B1BB;
	--mantine-color-cool-grey-4: #9E9EAD;
	--mantine-color-cool-grey-5: #8B8BA2;
	--mantine-color-cool-grey-6: #7D7D92;
	--mantine-color-cool-grey-7: #717182;
	--mantine-color-cool-grey-8: #686874;
	--mantine-color-cool-grey-9: #5E5E67;
	--mantine-color-cool-grey-10: #56565C;
	--mantine-color-silver-sand-0: #F9F9F9;
	--mantine-color-silver-sand-1: #ECECEE;
	--mantine-color-silver-sand-2: #E0E0E3;
	--mantine-color-silver-sand-3: #D4D4DA;
	--mantine-color-silver-sand-4: #C9C8D1;
	--mantine-color-silver-sand-5: #BDBCCA;
	--mantine-color-silver-sand-6: #B4B3C0;
	--mantine-color-silver-sand-7: #ABAAB6;
	--mantine-color-silver-sand-8: #A3A2AC;
	--mantine-color-silver-sand-9: #9B9AA3;
	--mantine-color-silver-sand-10: #93939B;
	--mantine-color-gainsboro-0: #F8F8F9;
	--mantine-color-gainsboro-1: #F3F3F4;
	--mantine-color-gainsboro-2: #EEEEF0;
	--mantine-color-gainsboro-3: #E9E9EB;
	--mantine-color-gainsboro-4: #E3E3E8;
	--mantine-color-gainsboro-5: #DEDEE4;
	--mantine-color-gainsboro-6: #DADADF;
	--mantine-color-gainsboro-7: #D6D6DB;
	--mantine-color-gainsboro-8: #D2D2D6;
	--mantine-color-gainsboro-9: #CECED1;
	--mantine-color-gainsboro-10: #CACACD;
	--mantine-color-bright-gray-0: #FCFCFC;
	--mantine-color-bright-gray-1: #F9F9FA;
	--mantine-color-bright-gray-2: #F7F7F8;
	--mantine-color-bright-gray-3: #F4F4F6;
	--mantine-color-bright-gray-4: #F1F1F4;
	--mantine-color-bright-gray-5: #EEEEF2;
	--mantine-color-bright-gray-6: #ECECEF;
	--mantine-color-bright-gray-7: #EAEAED;
	--mantine-color-bright-gray-8: #E7E7EA;
	--mantine-color-bright-gray-9: #E5E5E8;
	--mantine-color-bright-gray-10: #E3E3E5;
	--mantine-color-ghost-white-0: #FEFEFE;
	--mantine-color-ghost-white-1: #FEFEFE;
	--mantine-color-ghost-white-2: #FEFEFE;
	--mantine-color-ghost-white-3: #FEFEFE;
	--mantine-color-ghost-white-4: #FEFEFE;
	--mantine-color-ghost-white-5: #FAFAFD;
	--mantine-color-ghost-white-6: #F7F7FB;
	--mantine-color-ghost-white-7: #F4F4F9;
	--mantine-color-ghost-white-8: #F2F2F6;
	--mantine-color-ghost-white-9: #EFEFF4;
	--mantine-color-info-0: #D5D9E1;
	--mantine-color-info-1: #BCC3D2;
	--mantine-color-info-2: #A3AFC7;
	--mantine-color-info-3: #899BC0;
	--mantine-color-info-4: #6D88BE;
	--mantine-color-info-5: #4F75C1;
	--mantine-color-info-6: #4B6BA9;
	--mantine-color-info-7: #4C6390;
	--mantine-color-info-8: #4B5B7B;
	--mantine-color-info-9: #48536B;
	--mantine-color-success-0: #72AA82;
	--mantine-color-success-1: #5AA870;
	--mantine-color-success-2: #48A262;
	--mantine-color-success-3: #379E55;
	--mantine-color-success-4: #279B48;
	--mantine-color-success-5: #169A3C;
	--mantine-color-success-6: #207F3B;
	--mantine-color-success-7: #256939;
	--mantine-color-success-8: #285936;
	--mantine-color-success-9: #284B32;
	--mantine-color-warning-0: #F0EDE0;
	--mantine-color-warning-1: #F0EDE0;
	--mantine-color-warning-2: #E7DEBF;
	--mantine-color-warning-3: #E4D49C;
	--mantine-color-warning-4: #E8CE75;
	--mantine-color-warning-5: #F4CE49;
	--mantine-color-warning-6: #DEBB3F;
	--mantine-color-warning-7: #C8A839;
	--mantine-color-warning-8: #A8913F;
	--mantine-color-warning-9: #8E7D42;
	--mantine-color-error-0: #E5D6D7;
	--mantine-color-error-1: #D9BABC;
	--mantine-color-error-2: #D19DA0;
	--mantine-color-error-3: #CE7F83;
	--mantine-color-error-4: #D15E63;
	--mantine-color-error-5: #DB3840;
	--mantine-color-error-6: #C0373E;
	--mantine-color-error-7: #A13E43;
	--mantine-color-error-8: #884144;
	--mantine-color-error-9: #744143;
}
