
:root {
	--mantine-color-deep-koamaru-0: #f2f2f8;
	--mantine-color-deep-koamaru-1: #e0e0ea;
	--mantine-color-deep-koamaru-2: #c0bfd6;
	--mantine-color-deep-koamaru-3: #9c9bc2;
	--mantine-color-deep-koamaru-4: #7f7cb0;
	--mantine-color-deep-koamaru-5: #6c69a6;
	--mantine-color-deep-koamaru-6: #625fa2;
	--mantine-color-deep-koamaru-7: #524f8f;
	--mantine-color-deep-koamaru-8: #484780;
	--mantine-color-deep-koamaru-9: #3d3c71;
	--mantine-color-mexican-pink-0: #ffe8f9;
	--mantine-color-mexican-pink-1: #ffd0ea;
	--mantine-color-mexican-pink-2: #fc9fd2;
	--mantine-color-mexican-pink-3: #f96ab8;
	--mantine-color-mexican-pink-4: #f73fa3;
	--mantine-color-mexican-pink-5: #f62595;
	--mantine-color-mexican-pink-6: #f7168f;
	--mantine-color-mexican-pink-7: #dc077b;
	--mantine-color-mexican-pink-8: #c5006d;
	--mantine-color-mexican-pink-9: #ad005f;
	--mantine-color-majorelle-blue-0: #f2ecff;
	--mantine-color-majorelle-blue-1: #e0d4fe;
	--mantine-color-majorelle-blue-2: #bba8f5;
	--mantine-color-majorelle-blue-3: #9577ed;
	--mantine-color-majorelle-blue-4: #754ee6;
	--mantine-color-majorelle-blue-5: #6134e3;
	--mantine-color-majorelle-blue-6: #5726e2;
	--mantine-color-majorelle-blue-7: #471bc9;
	--mantine-color-majorelle-blue-8: #3e17b5;
	--mantine-color-majorelle-blue-9: #34109f;
	--mantine-color-eerie-black-0: #f1f0f9;
	--mantine-color-eerie-black-1: #dedded;
	--mantine-color-eerie-black-2: #bab8dc;
	--mantine-color-eerie-black-3: #9391cc;
	--mantine-color-eerie-black-4: #736fbe;
	--mantine-color-eerie-black-5: #5f59b6;
	--mantine-color-eerie-black-6: #554fb3;
	--mantine-color-eerie-black-7: #46409e;
	--mantine-color-eerie-black-8: #3d398d;
	--mantine-color-eerie-black-9: #33307d;
	--mantine-color-cool-grey-0: #f3f3ff;
	--mantine-color-cool-grey-1: #e5e5ef;
	--mantine-color-cool-grey-2: #c8c8d6;
	--mantine-color-cool-grey-3: #a9a9bb;
	--mantine-color-cool-grey-4: #8f8fa5;
	--mantine-color-cool-grey-5: #7f7f98;
	--mantine-color-cool-grey-6: #777793;
	--mantine-color-cool-grey-7: #656580;
	--mantine-color-cool-grey-8: #595a74;
	--mantine-color-cool-grey-9: #4b4c68;
	--mantine-color-silver-sand-0: #f3f3fe;
	--mantine-color-silver-sand-1: #e5e5ed;
	--mantine-color-silver-sand-2: #c8c7d3;
	--mantine-color-silver-sand-3: #aaa9ba;
	--mantine-color-silver-sand-4: #908fa4;
	--mantine-color-silver-sand-5: #807e97;
	--mantine-color-silver-sand-6: #787691;
	--mantine-color-silver-sand-7: #66647f;
	--mantine-color-silver-sand-8: #5b5972;
	--mantine-color-silver-sand-9: #4d4c67;
	--mantine-color-bright-gray-0: #f3f3f6;
	--mantine-color-bright-gray-1: #e4e4e5;
	--mantine-color-bright-gray-2: #c8c8cc;
	--mantine-color-bright-gray-3: #a8a8b4;
	--mantine-color-bright-gray-4: #8e8e9f;
	--mantine-color-bright-gray-5: #7d7d92;
	--mantine-color-bright-gray-6: #75758c;
	--mantine-color-bright-gray-7: #63637a;
	--mantine-color-bright-gray-8: #58576e;
	--mantine-color-bright-gray-9: #4b4b62;
	--mantine-color-ghost-white-0: #f0f0f9;
	--mantine-color-ghost-white-1: #deddec;
	--mantine-color-ghost-white-2: #b9b9dc;
	--mantine-color-ghost-white-3: #9392cb;
	--mantine-color-ghost-white-4: #7270bc;
	--mantine-color-ghost-white-5: #5d5bb4;
	--mantine-color-ghost-white-6: #5250b2;
	--mantine-color-ghost-white-7: #44429c;
	--mantine-color-ghost-white-8: #3c3b8c;
	--mantine-color-ghost-white-9: #32327c;
	--mantine-color-auqamarine-0: #e1fff5;
	--mantine-color-auqamarine-1: #d0faeb;
	--mantine-color-auqamarine-2: #a7f2d6;
	--mantine-color-auqamarine-3: #78e9c1;
	--mantine-color-auqamarine-4: #52e2af;
	--mantine-color-auqamarine-5: #39dea3;
	--mantine-color-auqamarine-6: #27dc9d;
	--mantine-color-auqamarine-7: #12c387;
	--mantine-color-auqamarine-8: #00ae77;
	--mantine-color-auqamarine-9: #009765;
	--mantine-color-crayola-light-0: #fffae1;
	--mantine-color-crayola-light-1: #fff4cc;
	--mantine-color-crayola-light-2: #fde89c;
	--mantine-color-crayola-light-3: #fcdb67;
	--mantine-color-crayola-light-4: #fbd03b;
	--mantine-color-crayola-light-5: #fbc920;
	--mantine-color-crayola-light-6: #fac60e;
	--mantine-color-crayola-light-7: #dfae00;
	--mantine-color-crayola-light-8: #c79b00;
	--mantine-color-crayola-light-9: #ab8500;
	--mantine-color-persian-pink-0: #ffeaf9;
	--mantine-color-persian-pink-1: #fdd4ea;
	--mantine-color-persian-pink-2: #f5a6d1;
	--mantine-color-persian-pink-3: #ed76b7;
	--mantine-color-persian-pink-4: #e74ea1;
	--mantine-color-persian-pink-5: #e43494;
	--mantine-color-persian-pink-6: #e3258d;
	--mantine-color-persian-pink-7: #ca1779;
	--mantine-color-persian-pink-8: #b50d6c;
	--mantine-color-persian-pink-9: #a0005e;
	--mantine-color-pale-violet-0: #f1eaff;
	--mantine-color-pale-violet-1: #dcd0ff;
	--mantine-color-pale-violet-2: #b59cff;
	--mantine-color-pale-violet-3: #8c64fe;
	--mantine-color-pale-violet-4: #6b37fd;
	--mantine-color-pale-violet-5: #551afd;
	--mantine-color-pale-violet-6: #4a0bfe;
	--mantine-color-pale-violet-7: #3b00e3;
	--mantine-color-pale-violet-8: #3200cb;
	--mantine-color-pale-violet-9: #2900b3;
	--mantine-color-skye-blue-0: #e8f0ff;
	--mantine-color-skye-blue-1: #cfddff;
	--mantine-color-skye-blue-2: #9cb7ff;
	--mantine-color-skye-blue-3: #658ffe;
	--mantine-color-skye-blue-4: #3a6dfd;
	--mantine-color-skye-blue-5: #2058fd;
	--mantine-color-skye-blue-6: #104dfe;
	--mantine-color-skye-blue-7: #003fe3;
	--mantine-color-skye-blue-8: #0038cb;
	--mantine-color-skye-blue-9: #002fb3;
	--mantine-color-gainsboro-0: #f4f4fb;
	--mantine-color-gainsboro-1: #e5e5ea;
	--mantine-color-gainsboro-2: #c8c8cf;
	--mantine-color-gainsboro-3: #aaaab5;
	--mantine-color-gainsboro-4: #91909f;
	--mantine-color-gainsboro-5: #818092;
	--mantine-color-gainsboro-6: #78788d;
	--mantine-color-gainsboro-7: #66667b;
	--mantine-color-gainsboro-8: #5b5b6f;
	--mantine-color-gainsboro-9: #4d4e63;
	--mantine-color-harlequin-green-0: #eaffe8;
	--mantine-color-harlequin-green-1: #d7fbd2;
	--mantine-color-harlequin-green-2: #b0f6a5;
	--mantine-color-harlequin-green-3: #85f074;
	--mantine-color-harlequin-green-4: #62ec4c;
	--mantine-color-harlequin-green-5: #4ce932;
	--mantine-color-harlequin-green-6: #3ee823;
	--mantine-color-harlequin-green-7: #2fcd16;
	--mantine-color-harlequin-green-8: #25b60c;
	--mantine-color-harlequin-green-9: #119e00;
	--mantine-color-coral-red-0: #ffe8e8;
	--mantine-color-coral-red-1: #ffd0d0;
	--mantine-color-coral-red-2: #fca0a0;
	--mantine-color-coral-red-3: #f86c6c;
	--mantine-color-coral-red-4: #f44040;
	--mantine-color-coral-red-5: #f32424;
	--mantine-color-coral-red-6: #f31315;
	--mantine-color-coral-red-7: #d80309;
	--mantine-color-coral-red-8: #c20007;
	--mantine-color-coral-red-9: #a90002;
	--mantine-color-amazon-0: #edf9f0;
	--mantine-color-amazon-1: #dfefe4;
	--mantine-color-amazon-2: #beddc7;
	--mantine-color-amazon-3: #9acba8;
	--mantine-color-amazon-4: #7dbc8e;
	--mantine-color-amazon-5: #69b27d;
	--mantine-color-amazon-6: #5ead74;
	--mantine-color-amazon-7: #4e9862;
	--mantine-color-amazon-8: #428756;
	--mantine-color-amazon-9: #337547;
	--mantine-color-crayola-dark-0: #fffae1;
	--mantine-color-crayola-dark-1: #fdf3cc;
	--mantine-color-crayola-dark-2: #fae69e;
	--mantine-color-crayola-dark-3: #f6d86b;
	--mantine-color-crayola-dark-4: #f4cc41;
	--mantine-color-crayola-dark-5: #f2c425;
	--mantine-color-crayola-dark-6: #f1c112;
	--mantine-color-crayola-dark-7: #d6a901;
	--mantine-color-crayola-dark-8: #bf9600;
	--mantine-color-crayola-dark-9: #a58100;
	--mantine-color-jasper-0: #ffeaea;
	--mantine-color-jasper-1: #fed5d6;
	--mantine-color-jasper-2: #f2aaad;
	--mantine-color-jasper-3: #e87b81;
	--mantine-color-jasper-4: #e0545b;
	--mantine-color-jasper-5: #dc3b43;
	--mantine-color-jasper-6: #da2e36;
	--mantine-color-jasper-7: #c22029;
	--mantine-color-jasper-8: #ae1824;
	--mantine-color-jasper-9: #990c1c;
	--mantine-color-cyan-blue-azure-0: #ebf3ff;
	--mantine-color-cyan-blue-azure-1: #dae3f8;
	--mantine-color-cyan-blue-azure-2: #b4c5e8;
	--mantine-color-cyan-blue-azure-3: #8ca5d8;
	--mantine-color-cyan-blue-azure-4: #6a8acb;
	--mantine-color-cyan-blue-azure-5: #5479c3;
	--mantine-color-cyan-blue-azure-6: #4870c0;
	--mantine-color-cyan-blue-azure-7: #385faa;
	--mantine-color-cyan-blue-azure-8: #2e559a;
	--mantine-color-cyan-blue-azure-9: #204989;
}
