.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: rem(1) solid var(--mantine-color-bright-gray-5);

  &:hover {
    border: rem(1) solid var(--mantine-color-silver-sand-5);
  }

  &::placeholder {
    color: var(--mantine-color-silver-sand-5);
  }

  &:focus {
    border: rem(1) solid var(--mantine-color-majorelle-blue-5);
  }
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.inputWrapper {
  min-width: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputSectionWithValue {
  color: var(--mantine-color-majorelle-blue-5);
  transform: scale(0.8);

  &[data-position="left"] {
    color: var(--mantine-color-eerie-black-6);
  }
}

.inputSectionWithoutValue {
  color: var(--mantine-color-majorelle-blue-5);
  transform: scale(0.8);

  &[data-position="left"] {
    color: var(--mantine-color-silver-sand-5);
  }
}

.dropdown {
  color: var(--mantine-color-eerie-black-6);
}

