.root > div:first-child > button {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.root > div:last-child:not([data-active]) > button {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.root > div:last-child > div {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.control {
  background-color: #fff;
  border-left: rem(1) solid var(--mantine-color-bright-gray-5);
  border-right: rem(1) solid var(--mantine-color-bright-gray-5);
  padding: 1rem;
  color: var(--mantine-color-eerie-black-6);
  border-bottom: rem(1) solid var(--mantine-color-bright-gray-5) !important;

  &[data-disabled] {
    border-right: rem(1) solid var(--mantine-color-bright-gray-10);
    border-left: rem(1) solid var(--mantine-color-bright-gray-10);
  }

  &[data-active=true] {
    color: var(--mantine-color-majorelle-blue-5);
  }
}

.label {
  padding: 0;
}

.chevron {
  color: var(--mantine-color-majorelle-blue-5);
}

.item {
  border: none;
}

.panel {
  background-color: #fff;
  border: rem(1) solid var(--mantine-color-bright-gray-5);
  border-top: none;
}

.icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5rem;
}